<md-content layout="row" layout-align="center start">
  <md-card flex="50">
        <md-toolbar class="md-primary">
              <div class="md-toolbar-tools">
                <span>Event Templates</span>
              </div>
        </md-toolbar>

        <md-card-content flex>
          <md-toolbar layout="row" layout-align="center center" class="md-padding">
            <div flex>Name</div>
            <div flex>Color</div>
            <div flex>Default duration</div>
            <div flex>Default start</div>
            <div style="width:20px;" ng-show="templates.scrollbarVisible()"></div>
            <i style="opacity:0;width:0px" class="material-icons ghost-handle">drag_handle</i>
          </md-toolbar>
          <md-content>
          <md-list id="templatesList" flex style="height: 60vh;">

              <md-list-item class="secondary-button-padding list-element" ng-repeat='item in records' ng-click='templates.viewEvent(item)'> <!--ng-repeat="item in todos" ng-click="spaces.goToSchedule('monthVw')"> -->
                <div flex class="md-list-item-text" layout="row">
                  <p flex>{{item.defName}}</p>
                  <div flex layout="row" layout-align="start center"><div flex="50" style="background-color: {{item.defColor}}; height:50%;"></div> </div>
                  <p flex>
                    <span ng-if="item.defDur.days!=0">{{item.defDur.days}}d </span>
                    <span ng-if="item.defDur.hours!=0">{{item.defDur.hours}}h </span>
                    <span ng-if="item.defDur.minutes!=0">{{item.defDur.minutes}}m </span>
                  </p>
                  <p flex>
                    <span ng-if="item.allDay==false">{{item.momentStart.format("HH:mm")}}</span>
                    <span ng-if="item.allDay==true">[All day]</span>
                  </p>
                </div>
                <i data={{item}} name='{{item.defName}}' class="material-icons handle" style="opacity:0;width:0px;">drag_handle</i>
              </md-list-item>

          </md-list>
        </md-content>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-fab md-accent" layout="column" layout-align="center center" ng-click="templates.newTemplate()">
            <i class="material-icons">add</i>
          </md-button>
        </md-card-actions>
      </md-card>

      <md-card flex="50" >
        <md-toolbar id="templateTitle" class="md-primary">
              <div class="md-toolbar-tools">
                <div ng-repeat='item in selectedEvent.parents' layout="row" layout-align="center center">
                  <a href ng-click='templates.goToParent(item, $index)'>{{item.defName}}</a>
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
                <span>{{selectedEvent.defName}}</span>
                <span ng-if="selectedEvent.defName==''&&selectedEvent.id==null">New template</span>
              </div>
        </md-toolbar>
        <md-tabs md-border-bottom style="min-height: 78vh;" md-selected="selectedTab">
          <md-tab label="General" md-on-select="console.log(selectedEvent.id);">
            <md-card-content>

              <div layout="row">
                <md-input-container class="md-block" flex="90">
                  <label>Template name</label>
                  <input ng-model="selectedEvent.defName"></input>
                </md-input-container>
                <div md-color-picker="colorPickerOptions" ng-model="selectedEvent.defColor"></div>
              </div>

              <md-input-container class="md-block">
                <label>Description</label>
                <textarea md-maxlength="120" rows="3" ng-model="selectedEvent.description"></textarea>
              </md-input-container>

              <md-input-container>
                <md-switch ng-model="selectedEvent.allDay" ng-disabled="selectedEvent.parents!=undefined">All-day</md-switch>
              </md-input-container>

              <div layout="row" flex="50">
                <md-input-container class="md-block" ng-show="selectedEvent.parents==undefined">
                  <label>Start time</label>
                  <input type="time" ng-model="selectedEvent.defStart" ng-disabled="selectedEvent.allDay||selectedEvent.parent!=null"></input>
                </md-input-container>
                <div ng-hide="selectedEvent.parents==undefined" flex="30" class="md-block">
                  <p>Start day: {{selectedEvent.defDay}}</p>
                  <p>Start time: {{selectedEvent.momentStart.format("HH:mm");}}</p>
                </div>
              </div>

              Duration:
              <div layout="row" flex="30" ng-show="selectedEvent.parents==undefined">
                <md-input-container class="md-block">
                  <label>Days</label>
                  <input ng-model="selectedEvent.defDur.days" type="number"></input>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Hours</label>
                  <input ng-model="selectedEvent.defDur.hours" type="number" step="1" ng-disabled="selectedEvent.allDay||selectedEvent.parent!=null"></input>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Minutes</label>
                  <input ng-model="selectedEvent.defDur.minutes" type="number" step="1" ng-disabled="selectedEvent.allDay"></input>
                </md-input-container>
              </div>

              <div ng-hide="selectedEvent.parents==undefined" layout="row" flex="30">
                <p>
                  <span ng-show="selectedEvent.defDur.days>0">{{selectedEvent.defDur.days}}d </span>
                  <span ng-show="selectedEvent.defDur.hours>0">{{selectedEvent.defDur.hours}}h </span>
                  <span ng-show="selectedEvent.defDur.minutes>0">{{selectedEvent.defDur.minutes}}m </span>
                </p>
              </div>

              <md-card-actions layout="row" layout-align="end center">
                <md-button ng-show="selectedEvent.id==null&&selectedEvent.parents!=undefined" class="md-accent md-raised" layout="column" layout-align="center center"
                           ng-disabled="selectedEvent.defName==''||selectedEvent.defDur==''"
                           ng-click="templates.addTemplate(selectedEvent)">
                  <span>Nest template</span>
                </md-button>
                <md-button ng-show="selectedEvent.id==null&&selectedEvent.parents==undefined" class="md-accent md-raised" layout="row" layout-align="center center"
                           ng-disabled="selectedEvent.defName==''||selectedEvent.defDur==''"
                           ng-click="templates.addTemplate(selectedEvent)">
                  <span>Add template</span>
                </md-button>
                <md-button ng-show="selectedEvent.id!=null" class="md-warn md-raised" layout="column" layout-align="center center"
                           ng-disabled=""
                           ng-click="templates.deleteTemplate()">
                  <span>Delete template</span>
                </md-button>
                <md-button ng-show="selectedEvent.id!=null" class="md-accent md-raised" layout="column" layout-align="center center"
                           ng-disabled="selectedEvent.defName==''||selectedEvent.defDur==''"
                           ng-click="templates.updateTemplate();">
                  <span>Save changes</span>
                </md-button>
              </md-card-actions>
          </md-tab>
          <md-tab ng-disabled="selectedEvent.id==null" label="Roles" md-on-select="templates.peopleDragActivate();">
            <div layout="row" layout-align="center start">
              <div flex="50">
                <md-list flex>
                  <md-list-item class="secondary-button-padding" ng-repeat='item in roles'>
                    <div layout="row">
                      <md-input-container class="md-block" flex="50">
                        <label>Role</label>
                        <input ng-model="item.role" ng-change="templates.roleChange(item, $index)" ng-blur="templates.updateRole(item)"></input>
                      </md-input-container>
                      <md-input-container class="md-block" flex="50">
                        <label>Drop people here</label>
                        <input ind={{$index}} ng-model="item.assigned" disabled class="assignee_drop"></input>
                      </md-input-container>
                    </div>
                    <md-button ng-hide="$last" class="md-icon-button" ng-click="roles.splice($index, 1); templates.deleteRole(item);">
                      <md-icon class="material-icons">clear</md-icon>
                    </md-button>
                  </md-list-item>
                </md-list>
              </div>
              <md-card flex="50">
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-headline">People</span>
                    <span class="md-subhead">Drag people to roles</span>
                  </md-card-header-text>
                </md-card-header>
                <md-card-content>
                  <md-content>
                    <md-list flex style="height: 50vh;">
                      <md-list-item class="md-3-line" ng-click="" ng-repeat="item in peopleAndGroups">
                        <div layout="row">
                          <i class="material-icons assignee" ind={{$index}}>drag_handle</i>
                          <div class="md-list-item-text" layout="column">
                            <h3 ng-show="!item.isGroup">{{item.first_name}} {{item.last_name}}</h3>
                            <h3 ng-show="item.isGroup">{{item.name}}</h3>
                            <p ng-show="item.isGroup">Group</p>
                          </div>
                        </div>
                      </md-list-item>
                    </md-list>
                  </md-content>
                </md-card-content>
              </md-card>
            </div>
          </md-tab>
          <md-tab label="Schedule" ng-disabled="selectedEvent.id==null" md-on-select="templates.switchDrag(true); console.log(selectedEvent.id);" md-on-deselect="templates.switchDrag(false)">
            <div id="templateSchedule"></div>
          </md-tab>
        </md-tabs>
        </md-card-content>

      </md-card>


</md-content>
